version: "3.8"
services:
  backend:
    build: ./MovieAPI
    ports:
      - "4000:4000"
    environment:
      DATABASE_URL: "mysql://root:$MYSQL_ROOT_PASSWORD@db:3307/movieDB"
      JWT_SECRET: "$JWT_SECRET"
      PORT: 4000
    depends_on:
      - db
    # volumes:
    #   - ./MovieAPI:/app
    #   - /app/node_modules
  frontend:
    build: ./MovieWEB
    ports:
      - "80:80"
  db:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      MYSQL_ROOT_PASSWORD: "$MYSQL_ROOT_PASSWORD"
      MYSQL_DATABASE: "movieDB"
    volumes:
      - db-data:/var/lib/mysql
    # ports:
    #   - "3307:3306"
volumes:
  db-data: